{{ define "base" }}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HungryPanda Coin - Airdrop</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        {{ template "style" }}
    </head>
    <body>
         {{ template "body" . }}
    </body>
</html>
{{end}}